html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Google Sans", sans-serif;
}

.leaflet-container {
    height: 100vh; 
    width: 100vw;
    background: #eee;
}

.bus-cluster {
    background-image: url(/images/bus-group.png);
    background-size: cover;
    background-position: center;

    color: #ffffff;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-weight: 600;
    font-size: 14px;

    line-height: 29px;
    
    z-index: 7000 !important;
    transition: transform 0.25s;
}

.leaflet-tooltip.route-tooltip {
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 14px;

  z-index: 10000 !important;
}

.leaflet-tooltip.route-tooltip.leaflet-tooltip-left:before {
  border-left-color: #222;
  border-left-width: 7px;
}

.leaflet-tooltip.route-tooltip.leaflet-tooltip-right:before {
  border-right-color: #222;
  border-left-width: 7px;
}