* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
}



#map {
    height: 100vh; 
    width: 100vw;
}

.direction {
    color: #b0b9bd;
}

.scheduledArrival {
    color: #b0b9bd;
}

.confirmedArrival:after {
    content: "";   

    
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;

    background-image: url(images/live-arrival.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-left: 0.2em;
}

.custom-cluster-icon {
    background-image: url(images/bus-group.png);
    background-size: 100%;
    opacity: 75%;

    color: #ffffff;
    width: 12px;
    height: 12px;
    display: flex;

    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 14px;
    
    z-index: 7000 !important;

    transition: transform 0.2s;
}

#data {
    left: 80px;
    top: 80px;

    display: none;
}

#att {
    right: 80px;
    top: 80px;
    height: 25px;
}



#options {
    left: 80px;
    bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}

.switch {
    position: relative;
    width: 42px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.option-label {
    font-size: 16px;
    font-weight: 400;
}

.slider {
    position: absolute;
    inset: 0;
    background: #b0b9bd;
    opacity: 90%;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.25s;
}

.info.dark .slider {
    background: #40515A;
}

.slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px;
    top: 4px;
    background: white;
    border-radius: 2px;
    transition: transform 0.15s;
}

.switch input:checked + .slider::before {
    transform: translateX(18px);
}

.switch input:checked + .slider {
    background: #6FADCA;
}

.info.dark .slider-track {
    background: #40515A;
}




#modeSwap {
    right: 580px;
    top: 80px;

    height: 25px;
    width: 25px;

    text-align: center;
    align-content: center;

    border-radius: 30px;

    cursor: pointer;
    transition: transform .25s;
}

#modeSwap:hover {
    transform: scale(1.15);
}

#modeSwap img {
    width: 100%;
    transform: scale(1.5);
}

#warning {
    right: 80px;
    bottom: 80px;

    display: none;
    background: #ffffff;
    height: 25px;
}

#warning.dark {
    background: #202f37;
}


.info {
    align-content: center;
    position: absolute;
    z-index: 10000;
    border-radius: 3px;
    background: #ffffff2c;

    color: #202F37;

    outline: 3px solid #b0b9bd;

    backdrop-filter: blur(20px);

    padding: 14px;

    transition: all 0.5s;
}

.info.dark {
    outline: 3px solid #40515A;
    color: #d6dbe1;

    background: #202f374f;
}


li {
    text-decoration: none;
    list-style-type: none;
}

#solid {
  border: 1.5px solid #b0b9bd;
  margin: 10px 0;
}

.leaflet-control-attribution {
    background-color: #40515a6a !important;
    color: white !important;
    font-size: 12px;

    right: 5px;
    bottom: 5px;
    padding: 5px 10px;
    border-radius: 3px;

    text-decoration: none;
    backdrop-filter: blur(7px);
}

.leaflet-control-attribution a {
    color: white;  
    font-weight: 500;
}

.leaflet-container {
    background-color:#b0b9bd;
}

#hide {
    color: #b0b9bd;
    cursor: pointer;
    font-size: 15px;
}

#hide:hover {
    text-decoration: underline;
}