* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
}



#map {
    height: 100vh; 
    width: 100vw;
}

.direction {
    color: #b0b9bd;
}

.scheduledArrival {
    color: #b0b9bd;
}

.confirmedArrival:after {
    content: "";   

    
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;

    background-image: url(images/live-arrival.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-left: 0.2em;
}

#data {
    left: 80px;
    top: 80px;
}

#att {
    left: 80px;
    bottom: 80px;
    height: 25px;
}

#modeSwap {
    left: 580px;
    bottom: 80px;

    height: 25px;
    width: 25px;

    text-align: center;
    align-content: center;

    border-radius: 30px;
}

#modeSwap img {
    width: 100%;
    transform: scale(1.5);
}

#warning {
    right: 80px;
    bottom: 80px;

    display: none;
    background: #ffffff;
    height: 25px;
}

#warning.dark {
    background: #202f37;
}


.info {
    align-content: center;
    position: absolute;
    z-index: 1000;
    border-radius: 3px;
    background: #ffffff2c;

    color: #202F37;

    outline: 3px solid #b0b9bd;

    backdrop-filter: blur(20px);

    padding: 14px;

    transition: all 0.5s;
}

.info.dark {
    outline: 3px solid #40515A;
    color: #d6dbe1;

    background: #202f374f;
}


li {
    text-decoration: none;
    list-style-type: none;
}

#solid {
  border: 1.5px solid #b0b9bd;
  margin: 10px 0;
}