* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh; 
    width: 100vw;
}

.info {
    position: absolute;
    z-index: 1000;
}

.direction {
    color: #b1b1b1;
}

#data {
    left: 80px;
    top: 80px;
    background-color: #ffffff;

    padding: 20px;
}

#warning {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20%;
    bottom: 50px;
    background-color: #ffffff;
    padding: 20px;

    display: none;
}

li {
    text-decoration: none;
    list-style-type: none;
}